@import 'bootstrap';
@import 'font-awesome';
//@import 'jasny-bootstrap/jasny-bootstrap';
@import 'theme';
@import 'bootstrap-social';
@import 'site';

/*!
 *  OneSecretFantasy 0.0.0 by @RayVanHeyningen - http://www.onesecretfantasy.com - @OneSecretFantasy
 */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// LOADING SCREEN
#preloader .logo {
  width: 120px;
  overflow: visible;
  white-space: nowrap;
}

// INTRO
.intro {
  background-image: url("/img/wallpapers/header_secret.png");
  background-size: cover;
  background-color: #0b040c;
}

.intro, .content-wrap {
  transition: transform 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), visibility 400ms;
}

.intro .logo-main img {
  max-width: 140px;
}

.intro .logo-main span {
  opacity: 1;
  margin-top: 0;
}

.intro .logo-main h1 {
  margin-bottom: 0;
}

.intro::after {
  opacity: 0.5;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  line-height: 1;
  font-size: 10px;
  opacity: 0.8;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

// BLOG POSTS
#article {
  padding: 60px 80px 0 80px;

  #body {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    padding-left: 40px;


  }

  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-left: -3px;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-bottom: 8px;
    color: rgba(0,0,0,0.8);
  }
}

// SEARCH
#search-input {
  color: #757575 !important;
}

// LOGIN MODAL
.modal-dialog {
  margin: 55px auto 50px;
}

// SUBSCRIBE FORM
#subscribe-form input {
  border-bottom: 1px solid #ffffff;
  opacity: 1;
}

#subscribe-form label {
  color: #ffffff;
  opacity: 1;
}

body.navbarOpen {
  overflow: hidden;
}

.offcanvas-nav {
  width: auto;
}

.offcanvas-nav a.nav-link, .offcanvas-nav .nav-link a {
//  font-size: 14px;
    margin-right: 0px;
}

.offcanvas-logo {
  margin-bottom: 0px;
  text-align: center;
}

.offcanvas-nav .nav-head {
  padding: 10px 0;
}

.pages hr {
  border-color: #B62025;
}
.nav-item .fa {
  color: #B62025;
}
.nav-item {

}

.main-menu a i, .toolbar a i {
  margin-right: 5px;
}

.twitter-feed .tweet-float:before {
  font-family: 'FontAwesome';
  content: "\f081";
}

.gallery-item.video-item:before {
  font-family: "FontAwesome";
  content: "\f01d";
}

.gallery-item.image-item:before {
  font-family: "FontAwesome";
  content: "\f030";
}

.valid-label::before {
  content: "✓";
}

.error-label::before, .valid-label::before {
  font-family: "FontAwesome";
}

// MAIN MENU
.social-buttons.text-right a {
  margin-left: 5px;
}

.navbar .toolbar a {
  font-size: 12px;
}

.social-buttons, .profile-buttons {
  margin-top: -5px;
}

.main-menu .btn {
  height: 45px;
}

// BREADCRUMBS
.breadcrumb > li + li::before {
  content: "/";
}

// LISTS
ul, ol {
  margin:auto -3em 1em 0;
  padding:0;
  position:relative;
  left:-3em;
  overflow:hidden;
}

li {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

ul ul, ul ol,
ol ol, ol ul {
  margin-left:1em;
  padding-left:0;
}

ul li, ol li {
  margin-left:7em;
  font-size:16px;
  line-height: 1.5;
}

li li {
  margin-left:1em;
}

ul {
  list-style: outside;
}

// FORUM
div.topic {
  height: 100%;
}

div.topic textarea {
  height: 100%;
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {
  .intro {
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 680px) {

}
@media screen and (max-width: 580px) {

}
@media screen and (max-width: 530px) {

}
@media screen and (max-width: 480px) {
  .offcanvas-nav .nav-link ul, .offcanvas-nav .nav-link ul:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro .logo-main img {
    max-width: 96px;
    margin: 32px auto 30px;
  }

  .navbar .logo {
    margin-right: 0;
  }

  h1, .h1 {
    font-size: 28px;
  }
}