@import 'bootstrap';
@import 'font-awesome';
@import 'theme';
@import 'site';

/*!
 *  OneSecretFantasy 0.0.0 by @RayVanHeyningen - http://www.onesecretfantasy.com - @OneSecretFantasy
 */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.offcanvas-nav {
  height: 100%;
  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}